@model List<Question>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
  

    :root {
        --primary: #9fde50;
        --secondary: #ff5252;
        --background: #eee;
        --highlight: #ffda79;
        /* Theme color */
        --theme: var(--primary);
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* Core styles/functionality */
    .tab input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .tab__content {
        max-height: 0;
        overflow: hidden;
        transition: all 0.35s;
    }

    .tab input:checked ~ .tab__content {
        max-height: 10rem;
    }

    /* Visual styles */

    .tab__label,
    .tab__close {
        display: flex;
        color: white;
        background: #30557a;
        cursor: pointer;
    }

    .tab__label {
        justify-content: space-between;
        padding: 1rem;
    }

        .tab__label::after {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            transform: rotate(90deg);
            transition: all 0.35s;
        }

    .tab input:checked + .tab__label::after {
        transform: rotate(270deg);
    }

    .tab__content p {
        margin: 0;
        padding: 1rem;
    }

    .tab__close {
        justify-content: flex-end;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }

    .accordion--radio {
        --theme: var(--secondary);
    }

    /* Arrow animation */
    .tab input:not(:checked) + .tab__label:hover::after {
        animation: bounce .5s infinite;
    }

    @@keyframes bounce {
        25% {
            transform: rotate(90deg) translate(.25rem);
        }

        75% {
            transform: rotate(90deg) translate(-.25rem);
        }
    }

    h1 {
        font-family: 'Tajawal', system-ui, sans-serif; /* Apply the font to the entire body */
    }
</style>



<br />
<h1 style="text-align:center;">@ViewBag.Category</h1>
<br />
<div style="width:80%;" class="container">
    @foreach (var q in Model)
    {
        @*<a asp-controller="Admin" asp-action="UpdateQuestion" asp-route-Id="@q.Id">update</a>*@
        <section class="accordion" style="direction: rtl;">
            <div class="tab">
                <input type="checkbox" name="accordion-1" id="@q.Title" checked>

                <label style="    font-size: 20px;" for="@q.Title" class="tab__label">
                    <div style="font-family: 'Tajawal', sans-serif;">
                         @q.Title
                    </div>
                </label>
                <div class="tab__content ">
                    <h5 style="font-family: 'Tajawal', sans-serif;">@q.Answer</h5>
                   
                </div>
                <div >
                    
                    <button data-toggle="modal" data-target="#myModalchange-@q.Id" class="btn btn-primary" style="font-family: 'Tajawal', sans-serif;">تعديل</button>
                    <button data-toggle="modal" data-target="#myModal-@q.Id" class="btn btn-danger" style="font-family: 'Tajawal', sans-serif;">حذف</button>

                </div>
               
            </div>
        </section>
        <div class="modal fade mb-5" id="myModalchange-@q.Id" style="direction: rtl;">
            <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-family: 'Tajawal', sans-serif;">تعديل السؤال</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <form asp-controller="Admin" asp-action="UpdateQuestion" method="post">
                        <input name="Id" value="@q.Id" hidden />
                    <div class="modal-body" style="width:100%;direction: rtl;">
                        <p style="font-family: 'Tajawal', sans-serif;">السؤال</p>
                        <input name="Title" value="@q.Title" style="width:100%;direction: rtl;font-family: 'Tajawal', sans-serif;" />
                       
                    </div>
                    
                    <div class="modal-body">
                        <p style="font-family: 'Tajawal', sans-serif;">الإجابة</p>
                        <textarea name="Answer" style="width:100%;direction: rtl;font-family: 'Tajawal', sans-serif;">@q.Answer </textarea>
                    </div>
                    <div class="modal-footer mb-5" style="direction: ltr;">
                        <button class="btn btn-primary mb-5" data-dismiss="modal" style="font-family: 'Tajawal', sans-serif;">الغاء</button>
                            <button class="btn btn-success mb-5" type="submit" style="font-family: 'Tajawal', sans-serif;">
                            <i class="fas fa-edit me-2"></i>تعديل
                        </button>
                        
                        
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal-@q.Id" style="direction: rtl;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-family: 'Tajawal', sans-serif;">حذف السؤال</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 style="font-family: 'Tajawal', sans-serif;">هل متاكد انك تريد حذف السؤال</h4>
                    </div>
                    <div class="modal-footer" style="direction: ltr;">
                        <button class="btn btn-primary" data-dismiss="modal" style="font-family: 'Tajawal', sans-serif;">الغاء</button>
                        <form method="post" asp-controller="Admin" asp-action="DeleteQuestion">
                            <input name="Id" value="@q.Id" hidden>
                            <button class="btn btn-danger" type="submit" style="font-family: 'Tajawal', sans-serif;">
                            <i class="fas fa-trash-alt me-2"></i>حذف 

                            </button>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        
        <br />
     
    }
</div>
