@model List<Category>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
    <div class="container">
        <div class="row">

			<div class="col-lg-8 col-12 mx-auto" style="direction: rtl;">
				<h1 class="text-white  text-center" style="font-family: 'Tajawal', sans-serif;">اطرح السؤال المطلوب</h1>

              
                <form method="get" action="@Url.Action("Search", "Home")" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" >
                    <div class="input-group input-group-lg">
                        <span class="input-group-text bi-search" id="basic-addon1">

                        </span>
						<textarea style=" border:none; overflow:hidden; height:50px;font-family: 'Tajawal', sans-serif;text-align:right;" name="str" placeholder="اكتب سؤالك هنا..." class="form-control" id="keyword" aria-label="Search"></textarea>



						<button type="submit" class="form-control" style="font-family: 'Tajawal', sans-serif;">ارسال</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<style>
	.user-pic {
		width: 150px;
		height: 150px;
		overflow: hidden;
		border-radius: 100%;
		margin: 20px auto 20px;
		border-left: 3px solid #ddd;
		border-right: 3px solid #ddd;
		border-top: 3px solid #30557a;
		border-bottom: 3px solid #30557a;
		transform: rotate(-30deg);
		transition: 0.5s;
	}

	.card-box:hover .user-pic {
		transform: rotate(0deg);
		transform: scale(1.1);
	}

	.card-box {
		padding: 15px;
		background-color: #fdfdfd;
		margin: 20px 0px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0px 0px 8px 0px #d4d4d4;
		transition: 0.5s;
	}

		.card-box:hover {
			border: 1px solid #30557a;
		}

		.card-box p {
			color: #808080;
		}

	body {
		font-family: 'Tajawal', sans-serif;
	}

	.card-box a {
		text-decoration:none !important;
		width:100% !important;
	}
</style>
<head>
	<title>How To Create Bootstrap Card Design With Hover Effects</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">

</head>
<body>
	<div class="container" style="font-family: 'Tajawal', sans-serif;">

		<div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
			<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(0).Id">

			
				
					<div class="user-pic">
					
						<img src="~/img/nutrient.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(0).Name</h4>
					<hr>
					<hr>
			
		
			</a>
			</div>
			</div>
			<div class="col-md-4">
				<div class="card-box text-center">
			<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(1).Id">
			
				
					<div class="user-pic">
						<img src="~/img/supplement.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(1).Name</h4>
					<hr>
					<hr>
			
			
			</a>
				</div>
			</div>


			<div class="col-md-4">
				<div class="card-box text-center">
				<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(2).Id" >

			
					<div class="user-pic">
						<img src="~/img/tea.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(2).Name</h4>
					<hr>
					<hr>

					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
					<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(3).Id" >

					<div class="user-pic">
						<img src="~/img/esophagus.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(3).Name</h4>
					<hr>
					<hr>

					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card-box text-center">
					<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(4).Id" >
					<div class="user-pic">
						<img src="~/img/brain.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(4).Name</h4>
					<hr>
					<hr>
					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card-box text-center">
					<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(5).Id" >

					<div class="user-pic">
						<img src="~/img/plan.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(5).Name</h4>
					<hr>
					<hr>

				</a>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card-box text-center">
					<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(6).Id">
					<div class="user-pic">
						<img src="~/img/gynecology.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(6).Name</h4>
					<hr>
					<hr>
						</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card-box text-center">
						<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(7).Id" >
					<div class="user-pic">
							<img src="   https://cdn-icons-png.flaticon.com/512/6904/6904045.png " style="filter: grayscale(100%);" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(7).Name</h4>
					<hr>
					<hr>

					</a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card-box text-center">
						<a asp-controller="home" asp-action="QuestionsForCategory" asp-route-Id="@Model.ElementAt(8).Id" >
					<div class="user-pic">
						<img src="~/img/endocrine.png" class="img-fluid" alt="User Pic">
					</div>
					<h4 style="font-family: 'Tajawal', sans-serif;">@Model.ElementAt(8).Name</h4>
					<hr>
					<hr>

					</a>
				</div>
			</div>
		</div>
	</div>
</body>