@model List<Question>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .accordion-button::after {
        flex-shrink: 0;
        width: var(--bs-accordion-btn-icon-width);
        height: var(--bs-accordion-btn-icon-width);
        margin-left: auto;
        content: "";
        background-image: none;
        background-repeat: no-repeat;
        background-size: 0px;
        transition: var(--bs-accordion-btn-icon-transition);
    }
</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<br />
<br />

<section class="faq-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

           

            <div class="clearfix"></div>

          @*  <div class="col-lg-5 col-12">
                <img src="~/WebsiteStyle/images/faq_graphic.jpg" class="img-fluid" alt="FAQs">
            </div>*@

            <div class="col-lg-12 col-12 m-auto" style="direction: rtl;">
                <h2 style="text-align:center;font-family: 'Tajawal', sans-serif;">السؤال : @ViewBag.question ؟</h2>
                <div class="accordion" id="accordionExample">

                    @foreach (var q in Model)
                    {
                        <div class="accordion-item" style="direction: rtl;text-align: right;">
                            <a style="display:block !important;text-decoration:none;" asp-controller="home" asp-action="Q1" asp-route-id="@q.Id">
                                <h2 class="accordion-header" id="@q.Title">
                                    <button class="accordion-button" type="button" style="text-align: right;font-family: 'Tajawal', sans-serif;" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        @q.Title
                                    </button>
                                </h2>

                                <div id="@q.Title" class="accordion-collapse collapse show" aria-labelledby="@q.Title" data-bs-parent="#accordionExample" style="direction: rtl !important;">
                                    <div class="accordion-body" style="text-align: right;font-family: 'Tajawal', sans-serif;">
                                        @q.Answer
                                    </div>
                                </div>
                            </a>
                        </div>

                    
                    }


                 

                </div>
            </div>

        </div>
    </div>
</section>
